{% extends "base.html" %}

{% block title %}New Blog Post{% endblock %}

{% block content %}
    <h1>Create a New Blog Post</h1>
    <p>Here you can create a new blog post for your Shopify store.</p>
    
    <!-- Search Input -->
    <input type="text" id="searchInput" placeholder="Search products..." autocomplete="off">
    <div id="suggestionsContainer" class="suggestions-container"></div>

    <!-- Progress Bar -->
    <div id="progressBarContainer" class="progress-bar-container" style="display: none;">
        <div id="progressBar" class="progress-bar"></div>
    </div>

    <button class="btn" onclick="location.href='/load_products'">Back</button>

    {% if not titles_file_exists %}
        <!-- Button to Load Products -->
        <button type="button" id="loadProductsButton" class="btn" onclick="loadProducts()">Load Products</button>
    {% endif %}

{% endblock %}
