{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the Shopify Blog Post Creator!</h1>
    <p>This is an app to create blog posts for Shopify stores.</p>
    <form action="/home" method="post">
        <label for="shop_url">Enter your Shopify Admin Shop URL:</label>
        <input type="text" id="shop_url" name="shop_url" placeholder="example.myshopify.com" required>

        <label for="access_token">Enter your Shopify Access Token:</label>
        <input type="password" id="access_token" name="access_token" required>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
